[user]
    name = Yves Jacolin
    email = yves.jacolin@camptocamp.com
[color]
    diff = auto
    status = auto
    branch = auto

[core]
    excludesfile = ~/.global_gitignore

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    lg2 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lol = log --decorate --pretty=oneline --abbrev-commit --all --graph
    addremove = !git add . && git ls-files --deleted | xargs --no-run-if-empty git rm
    fshow = ! sh -c 'git show --pretty="format:" --name-only $1 | grep -v "^$" | uniq | sed -e "s#^#`git rev-parse --show-toplevel`/#"' -
    vim = ! sh -c 'vim `git fshow $1`' -
    delete-merged-branches = !git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d

[branch]
    autosetupmerge = false
[push]
    default = nothing
#[http]
#    #proxy = https://10.0.4.2:3128
#    proxy = http://proxy.capc-chatellerault.fr:3128/
[diff "sopsdiffer"]
	textconv = sops -d
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential]
	helper = cache --timeout 21600
	helper = oauth
[credential "https://gitlab.strasbourg.cloud"]
	oauthClientId = f3a77460bf717d2ef82402dc1591beba55d623c6220dffd28b1779f48cf20541
  	oauthScopes = read_repository write_repository
	oauthAuthURL = /oauth/authorize
	oauthTokenURL = /oauth/token
	oauthDeviceAuthURL = /oauth/authorize_device
